<!DOCTYPE html>
<html>
<head>
  <title>LiveStreaming</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
  <%= link_to "wyloguj", destroy_user_session_path, method: :delete %>

<%= yield %>

</body>
</html>
